<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="aDatabaseConnectionString"/>
    <add name="duplicatedSetting" connectionString="aDatabaseConnectionString"/>
  </connectionStrings>
  <appSettings>
    <add key="webServiceUrl" value="aWebServiceUrl"/>
    <add key="duplicatedSetting" value="aWebServiceUrl"/>
    <add key="timeOutInSeconds" value="30"/>
  </appSettings>
</configuration>